grid-area {
  border: 1px solid #000;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  top: 250px;
}

.custom-knob {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

section {
  width: 100%;
}
section h1 {
  text-align: center;
}

select {
  border-radius: 10px;
  height: 35px;
  width: 151px;
}

select option {
  padding: 5px;
}

.status {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.off {
  color: red;
}

.on {
  color: green;
}
